<section
  *ngIf="selectedBooks.length; else noBooksMessage"
  class="dialog-section"
>
  <table class="table table-borderless">
    <tbody style="overflow-y: scroll">
      <div *ngFor="let book of selectedBooks">
        <app-cart-book [book]="book"></app-cart-book>
      </div>
    </tbody>
    <tr></tr>
  </table>
  <div class="cart-controll">
    <div class="total">
      <td>
        <div class="ps-3 d-flex flex-column">
          <p class="fw-bold" style="margin-bottom: 0px; font-size: 22px">
            Total:
          </p>
        </div>
      </td>
      <td style="margin-left: 10px">
        <div class="d-flex">
          <p class="pe-3" style="margin-bottom: 0px">
            <span class="red" style="font-size: 22px">{{ totals }} &euro;</span>
          </p>
        </div>
      </td>
    </div>
    <td>
      <div class="d-flex">
        <button class="btn btn-primary" (click)="onClose()">Checkout</button>
      </div>
    </td>
  </div>
</section>

<ng-template #noBooksMessage>
  <h1 class="no-data">You have no books in card!</h1>
</ng-template>
